{% extends 'base.html' %}
{% block head %} <link rel="stylesheet" href="/static/css/page-css/about.css">{% endblock %}
{% block title %}Sam and Company - Store{% endblock %}
{% block content %}
    <div class="master-container">
      <div class="sub-container">
        <h1>About Us</h1>
        <div class="about-container">
          <img src="images/about-img-800.jpg"
                srcset="/static/images/about-img-500.jpg 500w,
                /static/images/about-img-800.jpg 800w,
                /static/images/about-img-800.jpg 2500w"
                sizes="(min-width: 800px) 40vw, 50vw">
          <h2>The unique story of Sam and Co. Hong Kong began in 1980, launched by husband and wife duo. We are a local independent business, connected to a diverse number of international partner suppliers where we ensure to sell at better prices and wider choices. For the past four decades, we have been proud to offer the broadest and latest range of office products, arts and craft supplies, school supplies, as well as other simple goods with fantastic service. Our long-standing store on Stanley Street has been a place of business, a meeting ground for many, and a second home to a family. <br><br>
Sam & Co. is at the heart of your business and family, offering convenience, plus everything and anything from office to home supplies. We provide local delivery services throughout Hong Kong on over 10,000 products, and we welcome any returns from customers who are unsatisfied with our products. <br><br>
Our goal here is not only to offer you promising supplies for both your office and home, but we also aim to offer you friendly and caring services that will put a smile on your face, making our humble business a success!
We were founded on the belief that when you’re happy, we’re happy. So if you bought it and you don’t like it, please tell us and we do our best to fix it.</h2>
        </div>


      </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="js/nav-bar.js"></script>
    <script src="https://kit.fontawesome.com/ba0537b27e.js" crossorigin="anonymous"></script>
{% endblock %}
