<!DOCTYPE html>
<html class="html" lang="en" dir="ltr">
  <head>
    <!-- Primary Meta Tags -->
<title>Sam and Company - Stationery and Art Supplies</title>
<meta name="title" content="Sam and Company - Stationery and Art Supplies">
<meta name="description" content="a family-run, independent stationery and art supply store with over 30 years of experience stocking over 10,000 products located in the heart of Hong Kong in Central, HK.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.samnco-hk.com/">
<meta property="og:title" content="Sam and Company - Stationery and Art Supplies">
<meta property="og:description" content="a family-run, independent stationery and art supply store with over 30 years of experience stocking over 10,000 products located in the heart of Hong Kong in Central, HK.">
<meta property="og:image" content="https://res.cloudinary.com/developerdanwu/image/upload/f_auto,q_80/v1614874357/samAndCoProducts//map-banner-2500_lbv8qp.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.samnco-hk.com/">
<meta property="twitter:title" content="Sam and Company - Stationery and Art Supplies">
<meta property="twitter:description" content="a family-run, independent stationery and art supply store with over 30 years of experience stocking over 10,000 products located in the heart of Hong Kong in Central, HK.">
<meta property="twitter:image" content="https://res.cloudinary.com/developerdanwu/image/upload/f_auto,q_80/v1614874357/samAndCoProducts//map-banner-2500_lbv8qp.jpg">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <meta charset="utf-8">
    <title>ABOUT-Sam and Company</title>
    <link rel="stylesheet" href="css/page-css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="body">
    <header class="nav-scrolled">
      <div class="logo">
        <a href="index.html"><img src="images/logo.png" alt="Sam & Co logo"></a>
      </div>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <nav class="nav-bar">
      <ul class="nav-links">
      <a href="index.html"><li>HOME</li></a>
      <a href="about.html"><li>ABOUT</li></a>
      <a href="store.html"><li>SHOP</li></a>
      <a href="#footer"><li>CONTACT</li></a>
      </ul>
      </nav>
      <!-- <span class="cart-icon"><i class="fas fa-cart-plus"></i></span>
      <div class="cart-items">0</div> -->
    </header>
    <div class="master-container">
      <div class="sub-container">
        <h1>About Us</h1>
        <div class="about-container">
          <img src="images/about-img-800.jpg"
                srcset="images/about-img-500.jpg 500w,
                images/about-img-800.jpg 800w,
                images/about-img-800.jpg 2500w"
                sizes="(min-width: 800px) 40vw, 50vw">
          <h2>The unique story of Sam and Co. Hong Kong began in 1980, launched by husband and wife duo. We are a local independent business, connected to a diverse number of international partner suppliers where we ensure to sell at better prices and wider choices. For the past four decades, we have been proud to offer the broadest and latest range of office products, arts and craft supplies, school supplies, as well as other simple goods with fantastic service. Our long-standing store on Stanley Street has been a place of business, a meeting ground for many, and a second home to a family. <br><br>
Sam & Co. is at the heart of your business and family, offering convenience, plus everything and anything from office to home supplies. We provide local delivery services throughout Hong Kong on over 10,000 products, and we welcome any returns from customers who are unsatisfied with our products. <br><br>
Our goal here is not only to offer you promising supplies for both your office and home, but we also aim to offer you friendly and caring services that will put a smile on your face, making our humble business a success!
We were founded on the belief that when you’re happy, we’re happy. So if you bought it and you don’t like it, please tell us and we do our best to fix it.</h2>
        </div>


      </div>


      <footer id="footer">
        <div class="footer-container">
          <div class="footer-sub-container">
            <div class="address-sub-container">
              <span id="hours-op">Hours of operation</span>
              <span class="days-op"><span style="font-weight: 400;">9am - 7pm</span> Monday-Friday</span>
              <span class="days-op"><span style="font-weight: 400;">9am - 5:30pm</span> Saturday</span>
              <span class="days-op">(closed on Sundays and public holidays)</span>
              <span id="address">G/F, 38 Stanley Street, Central, HK</span>
              <span id="contact">phone: +(852) 25230338</span>
              <span id="contact">fax: +(852) 25262797</span>
              <span id="contact">Whatsapp: +(852) 97219032</span>
              <span id="contact">email: scsales@netvigator.com</span>
            </div>
            <div class="nav-maker-container">
              <div class="nav-maker-sub-container">
                <nav class="nav-bar">
                  <ul>
                    <a href="index.html"><li>HOME</li></a>
                    <a href="about.html"><li>ABOUT</li></a>
                    <a href="store.html"><li>SHOP</li></a>
                    <a href="contact.html"><li>CONTACT</li></a>
                  </ul>
                </nav>
                <div class="maker">
                  Made by <span style="font-weight: 600; color: #7A4B2D;">Dan Wu</span>
                </div>
              </div>


            </div>
          </div>


        </div>

      </footer>

    </div>
    <script src="js/nav-bar.js"></script>
    <script src="https://kit.fontawesome.com/ba0537b27e.js" crossorigin="anonymous"></script>


  </body>
</html>
