{% extends 'base.html' %}
{% block head %} <link rel="stylesheet" href="/static/css/page-css/store.css">{% endblock %}
{% block title %}Sam and Company - Store{% endblock %}
{% block content %}
    <div class="master-container">
      <div class="sub-container">
        <section class="products">
          <div class="section-title">
            <h1>Store</h1>
            <h2>Online shopping coming soon! For now, if you see something you like, give us a call at +(852) 25230338, send us an email at scsales@netvigator.com, whatsapp us at +(852) 97219032 or visit us in store!</h2>
          </div>
          <div class="search-container">
            <form method="POST" action="{{url_for('store',search_query=search_form.query.data)}}">
              {{ search_form.csrf_token }}
              {{search_form.query (class_='search-product-field')}}
              {{ search_form.search_btn (class_='search-product-btn')  }}
            </form>

          </div>
          <div class="product-categories">
            <h4 class="all"><a href="{{url_for('store')}}">All</a></h4>
            <h4 class="seasonal-products"><a href="{{url_for('store', query='seasonal-products')}}">Seasonal Products</a></h4>
            <h4 class="art-supplies"><a href="{{url_for('store', query='art-supplies')}}">Art Supplies</a></h4>
            <h4 class="office-stationery"><a href="{{url_for('store', query='office-stationery')}}">Office Stationery</a></h4>
            <h4 class="children"><a href="{{url_for('store', query='children')}}">Children</a></h4>
            <h4 class="entertainment"><a href="{{url_for('store', query='lifestyle')}}">Lifestyle</a></h4>

          </div>
          <div class="product-center">
            {% for product in products: %}
            <article class="product {{product.category}} {{product.category2}}">
        <div class="img-container">
        <img src="{{ product | get_image }}" class="" alt="{{product.title}}">
          <button class="bag-btn" data-id={{product.id}}><i class="fas fa-shopping-cart"></i><a href="">Details</a>
          </button>
        </div>
        <h3>{{product.title}}</h3>
        <h4>{{product.category}}</h4>
        <h4>{{product.category2}}</h4>
        <h4>{{product.price}}</h4>
      </article>
            {% endfor %}
          </div>
        </section>
        <div class="page-numbers">
          {{ pagination.links }}
        </div>
          <!--End of product-->
          <!--Cart-->
        <div class="cart-overlay">
          <div class="cart">
            <span class="close-cart"><i class="fas fa-window-close"></i></span>
            <h2>your cart</h2>
            <div class="cart-content">
              <!--cart item -->


              <!--end of cart item-->
              </div>

            <div class="cart-footer">
              <h3>your total: $ <span class="cart-total">0</span></h3>
              <button class="clear-cart banner-btn">clear cart</button>
              </div>
            </div>
          </div>

        </div>

      </div>

{% endblock %}

{% block scripts %}

    <script src="/static/js/nav-bar.js"></script>
    <!--CLoudinary-->



    <!--contentful-->
    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
<!--    <script src="/static/js/app.js"></script>-->
      <script src="https://kit.fontawesome.com/ba0537b27e.js" crossorigin="anonymous"></script>
{% endblock %}
